flows.json
[
    {
        "id": "b4659418f36793b9",
        "type": "tab",
        "label": "Get Feedback",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9264b48ac28fad5",
        "type": "http in",
        "z": "b4659418f36793b9",
        "name": "",
        "url": "/getFeedback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "75f40b80ec2cfae1",
                "3ddddace26481a2a"
            ]
        ]
    },
    {
        "id": "75f40b80ec2cfae1",
        "type": "function",
        "z": "b4659418f36793b9",
        "name": "get user data",
        "func": "msg.userData = msg.payload;\nmsg.url = msg.userData.url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "19a3602b03147b5c"
            ]
        ]
    },
    {
        "id": "19a3602b03147b5c",
        "type": "http request",
        "z": "b4659418f36793b9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "8e1b68b419a3aa4b"
            ]
        ]
    },
    {
        "id": "55d5db6359a0fa94",
        "type": "function",
        "z": "b4659418f36793b9",
        "name": "make request to OpenAI",
        "func": "const data = msg.payload[0]\nmsg.OPENAI_API_KEY = msg.userData.openAIKey;\nmsg.model = msg.userData.model;\n\nmsg.messages= [\n    {\n        role: \"system\",\n        content: \"act as a web analyst\",\n    },\n    { role: \"user\", content: `${data}\n    The above is the website content for ${msg.userData.url}. Give both positive and negative feedback on the content based on the goal: Goal: ${msg.userData.goal} Feedback:` },\n];\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 220,
        "wires": [
            [
                "abaccb29fd60f0c9"
            ]
        ]
    },
    {
        "id": "abaccb29fd60f0c9",
        "type": "openai-ubos",
        "z": "b4659418f36793b9",
        "name": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "max_tokens": 500,
        "prompt": "",
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "top_p": 1,
        "stop": {
            "type": "json",
            "value": "[]"
        },
        "OPENAI_API_KEY": "",
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "baf4fee8d569cfa9"
            ]
        ]
    },
    {
        "id": "baf4fee8d569cfa9",
        "type": "function",
        "z": "b4659418f36793b9",
        "name": "response",
        "func": "if(msg.statusCode === 200){\n    const answers = msg.payload.choices[0].message.content\n    msg.payload= answers;\n}\nelse {\n    msg.payload = \"Ooops, something went wrong!\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "7e57c7bee4ce47fe"
            ]
        ]
    },
    {
        "id": "7e57c7bee4ce47fe",
        "type": "http response",
        "z": "b4659418f36793b9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 220,
        "wires": []
    },
    {
        "id": "d1a4dfc3923a698c",
        "type": "catch",
        "z": "b4659418f36793b9",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "3ddddace26481a2a"
            ]
        ]
    },
    {
        "id": "3ddddace26481a2a",
        "type": "debug",
        "z": "b4659418f36793b9",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e1b68b419a3aa4b",
        "type": "html",
        "z": "b4659418f36793b9",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "div",
        "ret": "text",
        "as": "single",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "55d5db6359a0fa94"
            ]
        ]
    },
    {
        "id": "b7ab102cf9517aa7",
        "type": "http in",
        "z": "b4659418f36793b9",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "ec25cd2e1b3a4c03"
            ]
        ]
    },
    {
        "id": "bd563a0724955d05",
        "type": "http response",
        "z": "b4659418f36793b9",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec25cd2e1b3a4c03",
        "type": "template",
        "z": "b4659418f36793b9",
        "name": "customCSS",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": ".main_container {\n  top:0 !important;\n  left: 0 !important; \n  height: 100vh !important;\n  width: 100% !important;\n  padding: 10px !important;\n}\n.main_container>div>div>div>div>div>div>div>div>div>div>div>div>div{\n  display:flex;\n  justify-content: center;\n  align-items: center;\n  gap: 10px;\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div {\n  height:100% !important; \n}\n.form_container, .answer_container   {\n    position: relative !important;\n    top: 0 !important;\n    left: 0 !important;\n}\n\n.bp3-input, .select-button {\n    border-radius: 5px !important;\n    color: #495894 !important;\n}\n.select-button span {\n    color: inherit !important;\n}\n\n.title .bp3-ui-text {\n   font-size: clamp(20px, 2.3vw, 50px) !important; \n   cursor: default !important;\n}\n\n.generate_btn span{\n    color: #FFFFFF !important;\n}\n.answer_container{\n  height: 100% !important;\n}\n.canvas{\n  height: inherit !important;\n}\n.answer_container >div >div >div >div >div {\n  border-radius: 10px;\n  padding: 7px !important;\n \n}\n",
        "output": "str",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "bd563a0724955d05"
            ]
        ]
    }
]